<p id="notice"><%= notice %></p>

<h1 class="tdl_title"><%= @todo_list.title %></h1>
<p class="tdl_sub_title"><%= @todo_list.description %></p>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
</div>

<div id="form">
  <%= render "todo_items/form" %>
</div>
<div id="form">
  <%= render "todo_items/edit" %>
</div>

  
<div class="tdl_links center">
  <%= link_to edit_todo_list_path(@todo_list) do %>
    <i class="fa fa-pencil fa-2x fa_btn"><p>Edit</p></i>
  <% end %>
  <%= link_to todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash-o fa-2x fa_btn"><p>Delete</p></i>
  <% end %>
  <%= link_to todo_lists_path do %>
    <i class="fa fa-chevron-left fa-2x fa_btn"><p>Back</p></i>
  <% end %>
</div>